*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: #eee;

}
.container{
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-top: 1rem;
  text-align: center;
}

.input-container{
  width:80%;
  padding: 5em 2em;
}
input[type="text"]{
  width: 100%;
  font-size: 16px;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #111319;
  outline: none;
  border-radius: .4em;
}
.search-btn{
  width: 10em;
  /* padding: 0.4rem 1.6rem; */
  margin: 1rem auto;
  text-align: center;
  border-radius: .4em;
  
}
.search-btn select{
  width: 100%;
  height: 100%;
  padding: 0.4rem 1rem;
  border: 2px solid #111319;
  background-color: #02dfd4;
  border-radius: 3px;
}


.result{
  width: 100%;
  text-align: left;
}
.result h1{
  text-align: left;
}
.image{
  margin: 3em 0;
  padding: 1em 2em;
}
img{
  object-fit: contain;
  height: 220px;
}

.more{
  width: 200px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #111319;
  text-align: center;
  border-radius: 1em;
  margin: 2em auto;
  cursor: pointer;
}

.option-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 1em;
  margin: 1rem;
  color: #fff;
  background-color: #0100769c;
  margin-top: 0.6rem;
  border-radius: .4em;
  line-height: 2rem;
}
.option{
  flex: 1;
  color: #15e0e0;
  font-weight: 600;
}
.optionDescription{
  flex: 6;
  margin-left: 2rem;
  font-size: 1em;
}

